# User Score Prediction

Import the dependent modules

In [4]:
import pandas as pd
import numpy as np
np.random.seed(42)
import sklearn

Read the data from the dataset

In [5]:
data = pd.read_csv('uscore_all.csv',encoding='ansi')
data.head()

   uid    uname  login  post  life  ycf  isBM  isManager  uscore
0    1     HPLC   1422   127   256    0     0          0     2.8
1    2     zwei    307    36   117    0     0          0     1.2
2    3    SYSOP   1408     3   999    0     0          0     5.0
3    4  glgjssy     56    74   356    0     0          0     0.8
4    5    hewei   6700  3989   999    0     0          0     7.5

In [6]:
data.describe()

,uid,login,post,life,ycf,isBM,isManager,uscore
count,44173.000000,4.417300e+04,44173.000000,44173.000000,44173.000000,44173.000000,44173.000000,44173.000000
mean,23844.410319,1.671231e+03,907.323772,307.884386,0.284495,0.021597,0.001041,2.008091
std,15939.986385,1.306985e+05,5479.713142,236.260945,2.488303,0.145365,0.032254,1.480321
min,1.000000,1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,11072.000000,7.500000e+01,2.000000,105.000000,0.000000,0.000000,0.000000,0.600000
50%,22256.000000,4.440000e+02,22.000000,256.000000,0.000000,0.000000,0.000000,2.200000
75%,34318.000000,1.350000e+03,146.000000,534.000000,0.000000,0.000000,0.000000,2.900000
max,107898.000000,2.746828e+07,205784.000000,999.000000,202.000000,1.000000,1.000000,10.000000

In [7]:
data.dtypes

uid            int64
uname         object
login          int64
post           int64
life           int64
ycf            int64
isBM           int64
isManager      int64
uscore       float64
dtype: object

Split the data into training and test sets.

In [12]:
from sklearn import model_selection
train_x, test_x, train_y, test_y = model_selection.train_test_split(
    data.iloc[:,2:7], data.iloc[:,8], test_size=0.2, random_state=42)
print(train_x.shape)
print(train_y.shape)
print(test_x.shape)
print(test_y.shape)

(35338, 5)
(35338,)
(8835, 5)
(8835,)

Use linear regression

In [13]:
linreg = sklearn.linear_model.LinearRegression()
linreg.fit(train_x, train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

Get the coefficients from linear regression

In [17]:
linreg.coef_

array([1.33557386e-07, 8.09991347e-05, 3.89071212e-03, 3.00301330e-02,
       8.81013012e-01])

Evaluate the performance

In [19]:
pred_y = linreg.predict(test_x)
sklearn.metrics.mean_squared_error(test_y, pred_y)

0.8369189165363177